$background: #f45f23;
$text: #000000;

.blade-nft-purchase {
  /* btn */
  &__btn {
    width: 100%;
    padding: 0.8em;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $text;
    font-weight: 500;
    font-size: 1em;
    background-color: $background !important;
    cursor: pointer;
  }

  &__btn-img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.4em;
    display: none; // Will be changed
  }

  /* overlay/popup */
  &__overlay {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba($background, 0.15);
  }

  &__popup {
    position: absolute;
    top: 150px;
    right: 200px;
    width: 100%;
    max-width: 280px;
    padding: 18px 22px;
    background: $background;
    box-shadow: 0 4px 4px rgba($background, 0.25);
    border-radius: 16px;
    color: $text;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
  }

  &__popup-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    right: -58px;
    width: 64px;
    height: 196px;
  }
}
